<robot name="2_link_arm">

    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <axis xyz="0 0 0"/>
        <limit lower="0" upper="0" />
    </joint>


    <joint name="joint1" type="continuous">
        <parent link="base_link"/>
        <child link="link1"/>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <axis rpy="0 0 0" xyz="0 0 1"/>
        <limit lower="-1.5707963268" upper="1.5707963268" />
    </joint>


    <joint name="joint2" type="continuous">
        <parent link="link1"/>
        <child link="link2"/>
        <origin rpy="0 0 0" xyz="1 0 0"/>
        <axis rpy="0 0 0" xyz="0 0 1"/>
        <limit lower="-3.14159" upper="3.14159" />
    </joint>


    <joint name="ee_joint" type="fixed">
        <parent link="link2"/>
        <child link="ee_link"/>
        <origin rpy="0 0 0" xyz="0.5 0 0"/>
        <axis rpy="0 0 0" xyz="0 0 1"/>
        <limit lower="0" upper="0" />
    </joint>

</robot>



